/* fonts */
@font-face {
    font-family: norse-bold;
    src: url(downloads/Norse-Bold\ \(3\).otf);
}
/* dev styles */
::after, ::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}




/* page layout */

.side-card {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./downloads/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: right;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;

}

.side-card .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.339);
    width: 100%;
    height: 150px;
    color: white;
    font-family: norse-bold;
    font-size: 2.5rem;
    gap: 20px;
    margin-top: 200px;
    
}

.card img {
    height: 90%;
}

.content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background-color: whitesmoke;
}

.ch {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    line-height: 1.2;
    font-size: 1.25em;
    font-weight: bolder;
    max-width: 700px;
    margin-left: 50px;
}

button {
   width: 200px;
   border-radius: 20px; 
   padding: 1rem;
   background-color: #596D48;
   color: white;
   margin-left: 50px;
   border: none;
   cursor: pointer;
   box-shadow: 1px 5px 10px grey;
}

.tag {
    margin-left: 50px;
    font-size: 1.15em;

}

a {
    color: #596D48;
    font-weight: bolder;
    text-decoration: none;
}




/* form */

/* form flex */
/* form {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 6px 6px 5px grey;
    
    
} */

/* form > div {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
} */

/* form > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
    font-size: .9em;
    
}  */

 /* form grid */

form {
    width: 100%;
    background-color: white;
    box-shadow: 6px 6px 5px grey;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    place-items: center;
}

div {
    display: grid;
}

.first-name {
   grid-column: 1/2;
   grid-row: 1/2;
   
   
}
.last-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.email {
    grid-column: 1/2;
    grid-row: 2/3;
}
.phone-number {
    grid-column: 2/3;
    grid-row: 2/3;

}
.password {
    grid-column: 1/2;
    grid-row: 3/4;
}

.confirm-password {
    grid-column: 2/3;
    grid-row: 3/4;
}

input {
    width: 200px;
    height: 30px;
    border: .2px solid rgba(211, 211, 211, 0.6);
    border-radius: 10px;
    margin: 0px 0 10px 0;
}

input:focus {
    box-shadow: 2px 4px 10px grey;
}

input[type="text"]:focus {
    outline-color: blue;
}

input[type="password"]:focus {
    outline-color: red;
}

.password-alert {
    font-size: .7rem;
    color: red;
    display: none;
}





